
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.MuiGrid-grid-md-3.css-1unik2p-MuiGrid-root {
    border-right: 1px solid #afbac0 !important ;
}
/* header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-ciy9n4-MuiPaper-root-MuiAppBar-root,
.css-hyum1k-MuiToolbar-root{
    background: #1f2c33;
} */
main.css-yfo96e{
    padding: 0px ;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    text-align: right;
    width: 87px;
}
ul {
    list-style-type: none;
  }
  .MuiBox-root.css-1xtq8t5 {
    border: 1px solid #afbac0;
}
.MuiBox-root.css-1q6ii00{
    word-break: break-word;
    overflow-x:hidden;
    overflow-y: scroll;
}
span.btn.btn-secondary.btn-sm {
    text-align: right;
}
/* .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    top: 39px ;
    right: 8px;
} */
.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root{
    position: fixed;
    z-index: 1300;
    right: 85px;
    bottom:0px;
    top: 0;
    left: 21em;
}
.container-sm, .container{
    margin-top: 76px;
}